body{
    margin: 0;
}
h1{
    color: white;
    background-color: black;
}
li{
    color: white;
    background-color: black;  
}
footer{
    color: white;
    background-color: black;
}
